/* FORM */
.title {
    font-size: 30px;
    font-weight: 400;
}

.task-form {
    text-align: center;
    background-color: #ffeebd;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.task-control {
    text-align: center;
}

.task-input {
    display: block;
    height: 30px;
    width: 80%;
    margin: 10px auto; 
    padding: 5px 10px; 
    outline: none;
    border: 1px #636363 solid;
    border-radius: 5px;
    box-sizing: border-box; 
    transition: all 0.3s ease;
}

.task-input:focus {
    box-shadow: 0 0 1px #3d3d3d;
}

/* BUTTONS */

button {
    border: 1px #636363 solid;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-btn {
    color: white;
    background-color: #8CC0DE;
    border-color: #848484;
    border-left: none;
    border-radius: 5px;
    padding: 5px 10px;
    height: 30px;
}

.submit-btn:hover {
    background-color:#c45ecc;
}

/* VARIABLE INPUT LAYOUT */

@media (min-width: 500px) {
    .task-control {
        display: flex;
        align-items: center;
        margin: 10px;
    }

    .task-input {
        flex: 1;
        margin: 0 0 0 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .submit-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}




/* TASK */

.loading-task {
    text-align: center;
}

.tasks {
    background-color: #fff4d4;
    width: 50%;
    margin: auto;
    padding: 10px;
    margin-top: 0;
    padding-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.single-task {
    vertical-align: center;
    align-items: center;
    display: flex;
} 

.name-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.task-name {
    margin-top: 5px;
    margin-bottom: 5px;
}

.task-completed .task-name {
    color: green;
    text-decoration: line-through;
}

.task-id {
    color: #848484;
    margin-top: 5px;
    margin-bottom: 5px;
}

.task-links {
    display: inline-flex;
    align-items: center;
}

.edit-link {
    color: white;
    background-color: #8CC0DE;
    border: 1px solid #848484 ;
    padding:4px 10px 5px 10px; 
    margin-right: 0;
    border-right: none;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block; 
    transition: background-color 150ms;
}

.edit-link:hover {
    background-color: #c45ecc;
}

.delete-btn {
    color: white;
    background-color: #8CC0DE;
    outline: none;
    border: 1px solid #848484;
    margin-left: 0;
    padding: 6px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: background-color 150ms;
}

.delete-btn:hover {
    background-color: #c45ecc;
}

